* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header__header__container {
    max-width: 1352px;
    padding: 0 36px;
    margin: 0 auto;
}

.container {
    max-width: 1352px;
    padding: 0 36px;
    margin: 0 auto;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.swiper-button-next,
.swiper-button-prev {
    width: 32px;
    height: 32px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

.offers-button-next.swiper-button-disabled,
.offers-button-prev.swiper-button-disabled,
.useful-button-next.swiper-button-disabled,
.useful-button-prev.swiper-button-disabled {
    opacity: 1;
}

.swiper-pagination-srt .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #A65CF0;
}

.swiper-button-disabled .offers__arrow path {
    stroke: #999;
}

.swiper-button-disabled .offers__arrow circle {
    stroke: #999;
}

.hero__btn__container,
.main__btn__container {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.swiper-pagination-bullet-active {
    background: #333;
}

.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 14px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 14px));
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 9px var(--swiper-pagination-bullet-horizontal-gap, 8px);
}

.na {
    cursor: not-allowed;
}

.swiper-pagination-bullet {
    opacity: 1;
}

@media (max-width: 900px) {
    .container {
        max-width: 648px;
        margin: 0 auto;
        padding: 0 12px;
    }
}

@media (max-width: 600px) {
    .swiper-pagination-bullet {
        width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 6px));
        height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 6px));
    }
    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: -5px var(--swiper-pagination-bullet-horizontal-gap, 4px);
    }
}